

div.center {
	width: 1024px !important;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

p.blurb {
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height:10px; 
    width:100%; 
    background-color:#5511FF; 
    color:white; font-size:1.3em; 
    padding: 20px 0px 0px 5px;
}

p.article {
	max-width: 55%;
	padding: 0px 0px 0px 0px;
	float: right;
}

p.featured {
	min-width: 35%;
	max-width: 38%;
	padding: 10px 10px 10px 10px;
	float: left;
    border-color: white;
    border-style: solid;
    border-width: 5px;
	min-height: 250px;
}